LISTEN_ADDR = 0.0.0.0
LISTEN_PORT = 8000
ENV = dev

REDIS_HOST = 10.4.0.5
POSTGRES_HOST = 10.4.0.5

GUNICORN_WORKERS = 1
LOG_DIR = "logs"

POSTGRES_USER = pguser
POSTGRES_PASSWORD = pgpass
POSTGRES_DB = app



LDAP_BASE_DN
LDAP_BIND_PASSWORD 
LDAP_BIND_USER 
LDAP_SERVER 