services:
  postgres:
    image: postgres:18
    container_name: pg_db
    restart: unless-stopped
    env_file: .env

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -p ${POSTGRES_PORT:-5432}"]
      interval: 1s
      timeout: 3s
      retries: 5

    networks:
      - backend

networks:
  backend:
    driver: bridge